dist: focal
sudo: required
language: c++

matrix:
  allow_failures:
    - os: osx
  include:
    - name: Linux native compilation
      os: linux
      addons:
        hostname: lgb
        apt:
          packages:
            - alien
            - build-essential
            - bzip2
            - coreutils
            - curl
            - dpkg
            - fakeroot
            - file
            - fluid
            - gawk
            - git
            - gcc
            - g++
            - file
            - libc-bin
            - libc6-dev
            - libcurl4-openssl-dev
            - libfltk1.3-dev
            - liblua5.3-dev
            - libportaudio2
            - libreadline-dev
            - libsdl1.2-dev
            - libsndfile1-dev
            - make
            - p7zip
            - portaudio19-dev
            - rpm
            - sed
            - scons
            - tar
            - vim-common
            - wget
            - wine
            - zip
      compiler: g++
      before_script:
        - set +e
        - uname -a ; lsb_release -a || true ; hostname ; pwd ; df -h ; id -a
        - set -e
        - sdl-config --version --prefix --cflags --libs --static-libs || true
        - set +e
        - ps auxwwww || true
        - uptime
      script:
        - set -e
        - scons -j 2
        - ldd ./ep128emu || true
        - ls -la
        - uptime ; pwd
    - name: MacOS native compilation
      os: osx
      osx_image: xcode11
      addons:
        hostname: lgb
        homebrew:
          packages:
            - create-dmg
            - curl
            - FLTK
            - libjpeg
            - libpng
            - libsndfile
            - lua
            - lzlib
            - portaudio
            - scons
            - sdl
      before_script:
        - set +e
        - uname -a ; hostname ; pwd ; df -h ; id -a
        - set -e
        - sdl-config --version --prefix --cflags --libs --static-libs || true
        - set +e
        - ps auxwwww || true
        - uptime
      script:
        - set -e
        - scons -j 2
        - resource/travis/osx-dist || true
        - ls -la
        - ls -la .dist/osx || true
        - ls -la .dist/ || true
        - uptime ; pwd


env:
  global:
    secure: "OMFY2V+IyO53dbjtoIkPD+FBffcPI/+EhQkzqqItgqiQshKTZoeK5g8hGx6Vrj+IMKhACOD0juL7uo0yJm6B38HI0t0o8bAuKEdDsHygFRdgKe+vlf6h3FgNl5iUcFm7el352BWtXzB4CRNtoDL32xVBicBnv4LBdcks3qy7YaAN5Rq03QijlemwZxmbXAIGLCdc14fwKPGNtdrpcxNCi2dhL3zVrU2elfvozoUodrnPPmVOHLEyPXkMqlgvGz/NWrFAoq+PzEblmFtnpWFEqi2JdrTb6WYIwo+49cObArh2Musv7+eAzflqylf3yaCx0mTGIETVS+Gc2hoHN1iCMbQI3OMGWw1083Z4cBovCP58+8/wtU0Lu57Ea8QKMKViZPiAd4r0ydcei8GSdful7YYL0eux1nsF+ldB7fv0U8Bc7gWLOPHphtjFqLM7kbomaDDRH97rSYlKDehdKew+olz6xRitHuhWTkzjX92tLX18z0FV/dUc+lGjbf6R1EHg5gbhHtY7ImNktoTSc3KMr3tePESlvNeQzM5Q6zbOI5JIXUve0UqdvFTf9Bq1S73Dfmj0Ckc9kcsbPuIrSTtnoSy5T7P5HsqoUJk+ahtD3mQs/PceYsTvziBedFhUG2RPAPdOq+bg1X9QSoCxcXQthh8ZWzOcTJTwpqFhtTERWoI="
